$primary-color: #dfdede;
$second-color: #427ac9;

//mixin
@mixin flexColumn() {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flexRow() {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@mixin columnCenter() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin mediaResolucion($ancho-maximo, $ancho-deseado) {
  @media screen and (max-width: $ancho-maximo) {
    width: $ancho-deseado;
  }
}
